<div style="width: 132px; position: fixed; top:71px;">
    <div class="btn-group btn-group-sm btn-group-vertical btn-block" style="margin-bottom: 10px">
        <a href="${ctxPath}/manage/base/supplier" class="btn ${decode(module!'', 'supplier', 'btn-success', 'btn-default')}" style="border-top-right-radius: 3px">产品提供商</a>
        <a href="${ctxPath}/manage/base/service" class="btn ${decode(module!'', 'service', 'btn-success', 'btn-default')}">服务保障</a>
        <a href="${ctxPath}/manage/base/arg" class="btn ${decode(module!'', 'arg', 'btn-success', 'btn-default')}">宝贝属性</a>
        <a href="${ctxPath}/manage/base/label" class="btn ${decode(module!'', 'label', 'btn-success', 'btn-default')}">标签</a>
    </div>
</div>