<div class="meetingGroupListMainForm fntYh clearfix">
    <h3>假日风光，您身边的会务专家，会议中心贵宾热线：${ui400.value!}</h3>

    <div class="formWrap fl">
        <form class="record">
            <input type="hidden" name="type" value="${type}">
            <input type="text" class="formWrapInputTxt" name="mobile">
            <input type="button" class="formWrapInputButton submit">
        </form>
    </div>
    <div class="formTxt fl">10分钟内会有会议专员为您定制计划，并与您电话沟通。</div>
</div>
<div class="meetingGroupListMainProList">
    <!--# for(custom in customPage.list![]) { -->
    <div class="meetingGroupListMainProListItem clearfix"><a href="#"><img src="${ctxPath}/rest/image/${custom.image!}" class="bigPic" alt="${custom.title!}"/></a>

        <h2 class="fntYh"><a href="${ctxPath}/custom/info/${custom.id}">${custom.title!}</a></h2>
        <ol class="clearfix">
            <li>时间：${custom.time!}</li>
            <li>人数：${custom.people!}人</li>
            <li>地点：${custom.address!}</li>
            <li>人均消费：${custom.price!}元</li>
            <li>服务内容：${custom.service!}</li>
        </ol>
        <ul class="fst">${custom.info!}</ul>
        <ul class="last">
            满意度：<img src="${ctxPath}/resource/images/heart${custom.like!5}.gif"/>
            <a href="${ctxPath}/custom/info/${custom.id}">查看详细</a>
        </ul>
    </div>
    <!--# } -->
</div>
<div class="pagesBottom">
    <!--# if(customPage.pageNumber == 1) { -->
    <a class="disable">&lt;</a>
    <!--# } else { -->
    <a class="prev" href="${ctxPath}/${cururl}?pageNumber=${customPage.pageNumber - 1}">上一页</a>
    <!--# } -->
    <!--# var index = 1; -->
    <!--# while(index < customPage.totalPage) { -->
    <!--# if(customPage.pageNumber == index) { -->
    <a class="current" href="javascript:void(0)">${index}</a>
    <!--# } else { -->
    <a class="pNum" href="${ctxPath}/${cururl}?customPage=${index}">${index}</a>
    <!--# } -->
    <!--# index = index + 1; -->
    <!--# } -->
    <!--# if(customPage.pageNumber == customPage.totalPage || customPage.totalPage == 0) { -->
    <a class="disable">&gt;</a>
    <!--# } else { -->
    <a class="next" href="${ctxPath}/${cururl}?pageNumber=${customPage.pageNumber + 1}">下一页</a>
    <!--# } -->
</div>