/*cart mod*/
.uhereCart{height:40px; line-height:40px;padding:0 10px;}
.cartNum{font-weight:bold;}
.cartTopOperation i{font-weight:bold; color:#F60}
.cartTopOperation a.paymentBtn{background:#FA5600; padding:5px 12px; color:#FFF; font-weight:bold;}
.cartTopOperation a.paymentBtn:hover{text-decoration:none}
.userCartListAll{border:#D6D6D6 1px solid;}
.userCartListAll .userCartListGrid{border:none;border-top:#FFA700 2px solid;}
.userCartListAll .userCartListGrid th{height:34px; background:url(../images/bgTableTitle.jpg) repeat-x left top; border-bottom:#E5E5E5 1px solid; line-height:34px; text-align:center; font-size:13px;}
.userCartListAll .userCartListGrid td{padding:10px 0; border-bottom:#DBDBDB 1px solid; text-align:center}
.userCartListAll .userCartListGrid td.title,.userCartListAll .userCartListGrid td.collectTitle{vertical-align:top; text-align:left}
.userCartListAll .userCartListGrid td.title img{margin-right:3px; float:left}
.userCartListAll .userCartListGrid td.collectPrice{font-size:25px; color:#FF8900;font-family:"Microsoft YaHei", Tahoma, Geneva, sans-serif; }
.userCartListAll .userCartListGrid td.collectPrice span.collectPriceTxt{font-size:15px;}
.userCartListAll .userCartListGrid td span.fntRedBold{color:#F00; font-weight:bold; font-size:14px;}
.userCartListAll .userCartListGrid td span.fntBlue{color:#0D3FDB; padding:0 3px;}
.userCartListAll .userCartListGrid td a{color:#0D3FDB}
.userCartListAll .userCartListGrid td a:hover{color:#E99A03}
.userCartListAll .userCartListGrid td.holdon{background:#FFE4B0; color:#EB9A00; font-weight:bold;}
.userCartListAll .userCartListGrid td a.btnPay{display:block; width:70px; height:25px; text-indent:-1000px; overflow:hidden; background:url(../images/bgBtnOrderControl.gif) no-repeat 0px 0px;margin:0 auto}
.userCartListAll .userCartListGrid td a.btnReBuy{display:block; width:70px; height:21px; text-indent:-1000px; overflow:hidden; background:url(../images/bgBtnOrderControl.gif) no-repeat 0px -25px;margin:0 auto}
.userCartListAll .userCartListGrid td a.btnReserve{display:block; width:84px; height:28px; line-height:28px; text-align:center; font-size:14px; font-weight:bold; color:#FFF;background:#FF8900;margin:0 auto}
.userCartListAll .userCartListGrid td a.btnReserve:hover{text-decoration:none; color:#FFF;}
.userCartListAll .userCartListGrid td.collectTitle img{margin-right:10px; float:left; width:160px; height:95px;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail{line-height:23px; font-size:13px;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul h3{color:#24741A; font-weight:bold;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul h3 span{font-weight:normal;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li.intro{color:#CE8801}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li.groupDate{position:relative;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li.groupDate div{position:absolute; right:110px;_right:auto;_left:40px; top:18px; background:#FDF5EB; border:#CCC 1px dashed; width:260px; display:none; box-shadow:3px 3px 16px #CCC;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li.groupDate div ul{white-space:nowrap;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li.groupDate div ul li{border:#EAEAEA 1px solid; padding:0 3px; float:left; margin:5px; background:#FFF}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li span{color:#F00;}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li i{display:inline-block;/* 只有ie6和ie7识别*/ *display:inline; /* 触发ie6和ie7下的haslayout */ zoom:1; width:70px; height:22px; line-height:22px; color:#000; background:url(../images/bgMycollectArrowDown.gif) no-repeat 55px 9px; cursor:pointer}
.userCartListAll .userCartListGrid td.collectTitle .collectTitleDetail ul li i.open{background:url(../images/bgMycollectArrowUp.gif) no-repeat 55px 7px;}
.userCartListAll .userCartListGrid td.userCartListGridTopTip{text-align:left}
.userCartListAll .userCartListGrid td.userCartListGridMain{padding:5px;}
.userCartListGridMainTable{border:#D0E2FF 1px solid; border-bottom:none}
.userCartListGridMainTable td{border-bottom:#D0E2FF 1px solid;background:#EEF6FF}
.userCartListGridMainTable td.title img{border:#D0D1D3 1px solid; width:80px; height:80px;}
.userCartListGridMainTable td.unit{font-weight:bold;font-family:"Microsoft YaHei", Tahoma, Geneva, sans-serif;}
.userCartListGridMainTable td.unitRed{color:#F60}
.userCartListGridMainTable td.amount i{display:inline-block;/* 只有ie6和ie7识别*/ *display:inline; /* 触发ie6和ie7下的haslayout */ zoom:1; margin:0 1px;height:22px;line-height:22px; overflow:hidden}
.userCartListGridMainTable td.amount i.reduce{background:url(../images/bgProDetailIco.png) no-repeat -349px -377px; width:15px; height:15px; padding:4px 0 3px 0; cursor:pointer; line-height:15px; text-align:center; color:#000;}
.userCartListGridMainTable td.amount i.plus{background:url(../images/bgProDetailIco.png) no-repeat -349px -377px; width:15px; height:15px; padding:4px 0 3px 0; cursor:pointer;line-height:15px; text-align:center; color:#000;}
.userCartListGridMainTable td.amount i.numberInput{padding:0 3px;}
.userCartListGridMainTable td.amount i input.number{width:34px; height:20px;_height:18px; border:#CCC 1px solid; text-align:center; line-height:20px;}
.userCartListAll .userCartListGrid td.userCartListGridBottom{background:url(../images/cartGridBottom.png) repeat-x left top; padding:0; height:48px;text-align:left}
.userCartListAll .userCartListGrid td.userCartListGridBottom td{text-align:left; padding:0}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.center{text-align:center}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.handle{word-spacing:20px}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.handle a{color:#656565}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.handle a:hover{text-decoration:none;color:#E99A03}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.userCartListGridBottomInfo{text-align:right}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.userCartListGridBottomInfo i.amount{font-size:18px; font-weight:bold; color:#F60;font-family:"Microsoft YaHei", Tahoma, Geneva, sans-serif; padding:0 3px}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.userCartListGridBottomInfo span{padding:0 10px 0 20px; font-size:14px; color:#999;font-family:"Microsoft YaHei", Tahoma, Geneva, sans-serif;}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.userCartListGridBottomInfo span i{font-size:18px; font-weight:bold;}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.userCartListGridBottomInfo span i b{color:#F60}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.paymentBtn a{display:block; background:#F60; color:#FFF;font-family:"Microsoft YaHei", Tahoma, Geneva, sans-serif; text-align:center; font-size:16px; font-weight:bold; height:48px; line-height:48px;}
.userCartListAll .userCartListGrid td.userCartListGridBottom td.paymentBtn a:hover{color:#FFF; text-decoration:none;}
