html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 100%/1em Microsoft YaHei, Tahoma, Geneva, sans-serif;
    background: white;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: none;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

ol, ul, li {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block
}

table, th, td {
    vertical-align: middle;
}

input {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
    blr: expression(this.onFocus=this.blur())
}

a:hover {
    text-decoration: underline
}

a img {
    border: none
}

:focus {
    outline: 0
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cf {
    display: inline-block
}

.cf {
    display: block
}

.clearmod {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}