<div class="row">
    <div class="col-xs-6">
        <a href="${ctxPath}/manage/custom/add" class="btn btn-default btn-sm">新增</a>
    </div>
    <div class="col-xs-6">
        <ul class="pagination pagination-sm pull-right" style="margin-left: 20px;">
            <!--# if(customPage.pageNumber!1 > 1) {-->
            <li class="previous"><a href="${ctxPath}/manage/custom?pageNumber=${customPage.pageNumber - 1}">上一页</a></li>
            <!--# } else { -->
            <li class="previous disabled"><span>上一页</span></li>
            <!--# } -->
            <!--# if(customPage.pageNumber < customPage.totalPage) { -->
            <li class="next"><a href="${ctxPath}/manage/custom?pageNumber=${customPage.pageNumber + 1}">下一页</a></li>
            <!--# } else { -->
            <li class="next disabled"><span>下一页</span></li>
            <!--# } -->
        </ul>
    </div>
</div>