<!--# layout("/view/include/layout.html", {cur: "baseInfo"}) { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="uhereUser"><a href="home.html">我的假日阳光</a></div>
    <!--# include("/view/include/left.html"){}-->
    <div class="userCenterMain fr">
        <div class="userOrderListAll">
            <div class="userCenterWhere clearfix"><a href="#" class="servicesSun">阳光客服</a><span class="bold">账户管理</span> &gt; 个人信息</div>
            <div class="pointsRecord">
                <div class="addAddress">
                    <ul class="baseInfo">
                        <li><span>头像：</span>
                            <img src="../resource/images/demo/userPhoto.jpg"/><br>
                            <span></span><input type="file" class="addressTxt">
                        </li>
                        <li><span>用户名：</span><span class="username">aervea</span></li>
                        <li><span>真实姓名：</span>
                            <input type="text" disabled="disabled" class="addressTxt" value="张小张">
                            <span class="username"><a href="javascript:void(0)">修改</a></span></li>
                        <li><span>性别：</span>

                            <input class="sex" type="radio" name="RadioGroup1" value="单选" id="RadioGroup1_0">
                            <span class="sex">男</span>
                            <input class="sex" type="radio" name="RadioGroup1" value="单选" id="RadioGroup1_1">
                            <span class="sex">女</span>
                            <input class="sex" type="radio" name="RadioGroup1" value="单选" id="RadioGroup1_2">
                            <span class="sex">保密</span>
                        </li>
                        <li><span>邮箱：</span>
                            <input type="text" disabled="disabled" class="addressTxt" value="a***a@163.com">
                            <span class="username"><a href="javascript:void(0)">修改</a></span></li>
                        <li><span>手机：</span>
                            <input type="text" disabled="disabled" class="addressTxt" value="135*****895">
                            <span class="username"><a href="javascript:void(0)">修改</a></span></li>
                        <li><span>证件类型：</span>
                            <select>
                                <option>请选择</option>
                            </select>
                        </li>
                        <li><span>证件号码：</span>
                            <input type="text" class="addressTxt">
                        </li>
                        <li><span>出生年月：</span>
                            <input type="text" class="addressTxt" id="birthday">
                        </li>
                        <li><span>居住地址：</span>
                            <select>
                                <option>请选择</option>
                            </select>
                            <select>
                                <option>请选择</option>
                            </select>
                            <select>
                                <option>请选择</option>
                            </select>
                        </li>
                        <li><span></span>
                            <input type="text" class="addressTxt addressTxtLong">
                        </li>
                        <li><span></span>
                            <input type="button" class="addressBtn" value="确定">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="listBottom clearfix">
        <div class="history fl">
            <h5><a href="javascript:void(0)">清除</a>最近浏览</h5>
            <ul>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
            </ul>
        </div>
        <div class="uLikeWhat fr">
            <h5>根据浏览猜你喜欢</h5>

            <div class="uLikeWhatTitle">
                <ul>
                </ul>
            </div>
            <div class="uLikeWhatScreen">
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--# } -->
<!--js pages load-->
<script src="../resource/js/plugin/slide.js"></script>
<script src="../resource/js/jLamCatCustom.js"></script>
<script src="../resource/js/juimin.js"></script>
<script src="../resource/js/jquery.ui.datepicker-zh-CN.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var userCenterSiderNavLinks = $("div.userCenterSider").find("a");
        $(userCenterSiderNavLinks).each(function (i) {
            var links = $(userCenterSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(userCenterSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
        $(".uLikeWhat").slide({titCell: ".uLikeWhatTitle ul", mainCell: ".uLikeWhatScreen", effect: "leftLoop", autoPage: true, autoPlay: true});
        $("#birthday").datepicker({
            changeMonth: true
        });
        $(".username").each(function () {
            $(this).click(function () {
                $(this).prev().removeAttr("disabled")
            });
        });
    });
</script>
</body>
</html>