<!--# layout("/view/include/layout.html", {cur: "collect"}) { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="uhereUser"><a href="home.html">我的假日阳光</a></div>
    <!--# include("/view/include/left.html"){}-->
    <div class="userCenterMain fr">
        <div class="userOrderListAll">
            <div class="userCenterWhere clearfix"><a href="#" class="servicesSun">阳光客服</a><a href="#" class="orderRecycle">订单回收站</a> <span class="bold">交易管理</span> &gt; 我的收藏</div>
            <div class="userOrderListTitle clearfix">
                <ol class="left">
                    产品名称：
                    <input type="text" class="searchOrder" value="商品名称、商品编号、订单编号">
                </ol>
                <ol>
                    收藏日期：从
                    <input type="text" class="searchDate" id="dateBegin">
                    日到
                    <input type="text" class="searchDate" id="dateEnd">
                    日
                    <input type="button" value="查询" class="searchOrderBtn">
                </ol>
            </div>
            <div class="userOrderListGrid">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="70%">产品信息</th>
                        <th width="17%">参考价</th>
                        <th width="13%">操作</th>
                    </tr>
                </table>
            </div>
            <div class="pagesBottom pagesPadding20 clearmod"><a class="disable">&lt;</a><!--<a class="prev" href="#">上一页</a>--><a class="current" href="javascript:void(0)">1</a><a class="pNum" href="#2">2</a><a class="pNum"
                                                                                                                                                                                                                   href="#3">3</a><a
                    class="pNum" href="#4">4</a><a class="pNum" href="#5">5</a><a class="next" href="#">下一页</a><!--<a class="disable">&gt;</a>--><span class="txt leftMg">跳转至</span><span class="input">
          <input type="text">
          </span><span class="txt">页</span><span class="btnInput">
          <input type="submit" value="确定">
          </span></div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="listBottom clearfix">
        <div class="history fl">
            <h5><a href="javascript:void(0)">清除</a>最近浏览</h5>
            <ul>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
            </ul>
        </div>
        <div class="uLikeWhat fr">
            <h5>根据浏览猜你喜欢</h5>

            <div class="uLikeWhatTitle">
                <ul>
                </ul>
            </div>
            <div class="uLikeWhatScreen">
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--# } -->
<!--js pages load-->
<script src="../resource/js/plugin/slide.js"></script>
<script src="../resource/js/jLamCatCustom.js"></script>
<script src="../resource/js/juimin.js"></script>
<script src="../resource/js/jquery.ui.datepicker-zh-CN.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var userCenterSiderNavLinks = $("div.userCenterSider").find("a");
        $(userCenterSiderNavLinks).each(function (i) {
            var links = $(userCenterSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(userCenterSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
        $(".uLikeWhat").slide({titCell: ".uLikeWhatTitle ul", mainCell: ".uLikeWhatScreen", effect: "leftLoop", autoPage: true, autoPlay: true});
        var searchOrder = $("input.searchOrder");
        $(searchOrder).focus(function () {
            if ($(this).val() == this.defaultValue) {
                $(this).val("").css("color", "#000")
            }
        }).blur(function () {
            if ($(this).val() == '') {
                $(this).val(this.defaultValue).css("color", "#000")
            }
        });
        $(".groupDate").each(function () {
            $(this).children("i").hover(function () {
                $(this).addClass("open").next().show();
            }, function () {
                $(this).removeClass("open").next().hide();
            });
        });
        $("#dateBegin").datepicker({
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateEnd").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#dateEnd").datepicker({
            defaultDate: "+3m",
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateBegin").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>
</body>
</html>