<!--# layout("/view/include/layout.html", {cur: "message"}) { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="uhereUser"><a href="home.html">我的假日阳光</a></div>
    <!--# include("/view/include/left.html"){}-->
    <div class="userCenterMain fr">
        <div class="userOrderListAll">
            <div class="userCenterWhere clearfix"><a href="#" class="servicesSun">阳光客服</a> <span class="bold">账户管理</span> &gt; 短消息</div>
            <div class="pointsRecord">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="10%"><input type="checkbox"></th>
                        <th width="60%">主题</th>
                        <th width="15%">发送人</th>
                        <th width="15%">发送时间</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>请将您的行程告知我们！</td>
                        <td>张客户</td>
                        <td>2013-12-09 12:56:58</td>
                    </tr>
                    <!--if 无数据-->
                    <tr>
                        <td colspan="4">暂无相关数据</td>
                    </tr>
                </table>
            </div>
            <div class="pagesBottom pagesPadding20 clearmod"><a class="disable">&lt;</a><!--<a class="prev" href="#">上一页</a>--><a class="current" href="javascript:void(0)">1</a><a class="pNum" href="#2">2</a><a class="pNum"
                                                                                                                                                                                                                   href="#3">3</a><a
                    class="pNum" href="#4">4</a><a class="pNum" href="#5">5</a><a class="next" href="#">下一页</a><!--<a class="disable">&gt;</a>--><span class="txt leftMg">跳转至</span><span class="input">
          <input type="text">
          </span><span class="txt">页</span><span class="btnInput">
          <input type="submit" value="确定">
          </span></div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="listBottom clearfix">
        <div class="history fl">
            <h5><a href="javascript:void(0)">清除</a>最近浏览</h5>
            <ul>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
            </ul>
        </div>
        <div class="uLikeWhat fr">
            <h5>根据浏览猜你喜欢</h5>

            <div class="uLikeWhatTitle">
                <ul>
                </ul>
            </div>
            <div class="uLikeWhatScreen">
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--# } -->
<!--js pages load-->
<script src="../resource/js/plugin/slide.js"></script>
<script src="../resource/js/jLamCatCustom.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var userCenterSiderNavLinks = $("div.userCenterSider").find("a");
        $(userCenterSiderNavLinks).each(function (i) {
            var links = $(userCenterSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(userCenterSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
        $(".uLikeWhat").slide({titCell: ".uLikeWhatTitle ul", mainCell: ".uLikeWhatScreen", effect: "leftLoop", autoPage: true, autoPlay: true});
    });
</script>
</body>
</html>