<!--# layout("/view/include/layout.html", {cur: "points"}) { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="uhereUser"><a href="home.html">我的假日阳光</a></div>
    <!--# include("/view/include/left.html"){}-->
    <div class="userCenterMain fr">
        <div class="userOrderListAll">
            <div class="userCenterWhere clearfix"><a href="#" class="servicesSun">阳光客服</a><span class="bold">交易管理</span> &gt; 我的积分</div>
            <div class="pointsNumber">您当前的积分：<span>0分</span></div>
            <div class="pointsRecord">
                <div class="pointsRecordHead">
                    <select name="select" id="select">
                        <option>最近三个月积分记录</option>
                    </select>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="20%">日期</th>
                        <th width="15%">获取积分</th>
                        <th width="15%">消耗积分</th>
                        <th width="50%">详细说明</th>
                    </tr>
                    <tr>
                        <td>2013-12-09 12:56:58</td>
                        <td>60</td>
                        <td>30</td>
                        <td>积分兑换</td>
                    </tr>
                    <!--if 无数据-->
                    <tr>
                        <td colspan="4">暂无相关数据</td>
                    </tr>
                </table>
            </div>
            <div class="discountCouponIntro">
                <ul>
                    <h3>积分获取及使用常见问题：</h3>
                    <li>1. 您兑换的购物券为电子券，有效期为一年，自成功兑换之日起计算。</li>
                    <li>2. 阳光购物券仅限本ID使用，不能折算为现金、也不能再次兑换为积分。</li>
                    <li>3. 10元阳光券需要铜牌以上会员级别兑换，20元阳光券需要银牌以上会员级别兑换，50元阳光券需要金牌以上会员级别兑换，100元阳光券需要钻石以上会员级别兑换。</li>
                    <li>4. 每日至多换取三张优惠券。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="listBottom clearfix">
        <div class="history fl">
            <h5><a href="javascript:void(0)">清除</a>最近浏览</h5>
            <ul>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
            </ul>
        </div>
        <div class="uLikeWhat fr">
            <h5>根据浏览猜你喜欢</h5>

            <div class="uLikeWhatTitle">
                <ul>
                </ul>
            </div>
            <div class="uLikeWhatScreen">
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--# } -->
<!--js pages load-->
<script src="../resource/js/plugin/slide.js"></script>
<script src="../resource/js/jLamCatCustom.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var userCenterSiderNavLinks = $("div.userCenterSider").find("a");
        $(userCenterSiderNavLinks).each(function (i) {
            var links = $(userCenterSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(userCenterSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
        $(".uLikeWhat").slide({titCell: ".uLikeWhatTitle ul", mainCell: ".uLikeWhatScreen", effect: "leftLoop", autoPage: true, autoPlay: true});
    });
</script>
</body>
</html>