<!--# layout("/view/include/layout.html", {cur: "question"}) { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="uhereUser"><a href="home.html">我的假日阳光</a></div>
    <!--# include("/view/include/left.html"){}-->
    <div class="userCenterMain fr">
        <div class="userOrderListAll">
            <div class="userCenterWhere clearfix"><a href="#" class="servicesSun">阳光客服</a> <span class="bold">客户服务</span> &gt; 我的问答/咨询</div>
            <div class="myquestionHead">
                <ul>
                    我的提问状态:待回复(<span class="fntRed">0</span>) 已回复(<span class="fntGreen">2</span>)
                </ul>
            </div>
            <div class="myquestionMain">
                <div class="myquestionItem">
                    <h3><a href="#">行程定制&gt;&gt;</a><i>2013-11-11</i>我和爱人希望在昆明启程到达大理进行为时6天的跟团旅游，预算在1500-3000.</h3>
                    <ul class="questionContent">
                        我和爱人两个人，想在11月中旬进修去大理，我们在河北省，时间定为6天，只想在大理玩。最想去的地方是洱<br>
                        海，最好能在洱海住宿。不希望安排购物。能深度旅大理。别外我们是自己去大理还是能够帮我们定好石家庄<br>
                        到大理的机票。
                    </ul>
                    <h4>客户回复</h4>
                    <ul class="questionReply">
                        您好，感谢您选择假日风光旅游网，根据您的需求，我们安排了两条路线供您选择：<br>
                        <a href="#">1.大理一地5天4晚精华游</a> <a href="#">2.丽江-大理6天5晚豪华大巴纯玩团</a>
                    </ul>
                </div>
                <div class="myquestionItem">
                    <h3><a href="#">行程定制&gt;&gt;</a><i>2013-11-11</i>我和爱人希望在昆明启程到达大理进行为时6天的跟团旅游，预算在1500-3000.</h3>
                    <ul class="questionContent">
                        我和爱人两个人，想在11月中旬进修去大理，我们在河北省，时间定为6天，只想在大理玩。最想去的地方是洱<br>
                        海，最好能在洱海住宿。不希望安排购物。能深度旅大理。别外我们是自己去大理还是能够帮我们定好石家庄<br>
                        到大理的机票。
                    </ul>
                    <h4>客户回复</h4>
                    <ul class="questionReply">
                        您好，感谢您选择假日风光旅游网，根据您的需求，我们安排了两条路线供您选择：<br>
                        <a href="#">1.大理一地5天4晚精华游</a> <a href="#">2.丽江-大理6天5晚豪华大巴纯玩团</a>
                    </ul>
                </div>
                <div class="myquestionItem">
                    <h3><a href="#">行程定制&gt;&gt;</a><i>2013-11-11</i>我和爱人希望在昆明启程到达大理进行为时6天的跟团旅游，预算在1500-3000.</h3>
                    <ul class="questionContent">
                        我和爱人两个人，想在11月中旬进修去大理，我们在河北省，时间定为6天，只想在大理玩。最想去的地方是洱<br>
                        海，最好能在洱海住宿。不希望安排购物。能深度旅大理。别外我们是自己去大理还是能够帮我们定好石家庄<br>
                        到大理的机票。
                    </ul>
                    <h4>客户回复</h4>
                    <ul class="questionReply">
                        您好，感谢您选择假日风光旅游网，根据您的需求，我们安排了两条路线供您选择：<br>
                        <a href="#">1.大理一地5天4晚精华游</a> <a href="#">2.丽江-大理6天5晚豪华大巴纯玩团</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pagesBottom pagesPadding20 clearmod"><a class="disable">&lt;</a><!--<a class="prev" href="#">上一页</a>--><a class="current" href="javascript:void(0)">1</a><a class="pNum" href="#2">2</a><a class="pNum" href="#3">3</a><a
                class="pNum" href="#4">4</a><a class="pNum" href="#5">5</a><a class="next" href="#">下一页</a><!--<a class="disable">&gt;</a>--><span class="txt leftMg">跳转至</span><span class="input">
          <input type="text">
          </span><span class="txt">页</span><span class="btnInput">
          <input type="submit" value="确定">
          </span></div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="listBottom clearfix">
        <div class="history fl">
            <h5><a href="javascript:void(0)">清除</a>最近浏览</h5>
            <ul>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
                <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a>

                    <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    <span>￥1299</span></li>
            </ul>
        </div>
        <div class="uLikeWhat fr">
            <h5>根据浏览猜你喜欢</h5>

            <div class="uLikeWhatTitle">
                <ul>
                </ul>
            </div>
            <div class="uLikeWhatScreen">
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅泸沽湖轻装之旅泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                    <li><a href="#"><img class="proPic" src="../resource/images/demo/236188.jpg"/></a> <span><i>已有<b>10</b>人购买</i>￥899</span>

                        <h3><a href="#" target="_blank">泸沽湖轻装之旅</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--# } -->
<!--js pages load-->
<script src="../resource/js/plugin/slide.js"></script>
<script src="../resource/js/jLamCatCustom.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var userCenterSiderNavLinks = $("div.userCenterSider").find("a");
        $(userCenterSiderNavLinks).each(function (i) {
            var links = $(userCenterSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(userCenterSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
        $(".uLikeWhat").slide({titCell: ".uLikeWhatTitle ul", mainCell: ".uLikeWhatScreen", effect: "leftLoop", autoPage: true, autoPlay: true});
    });
</script>
</body>
</html>