<div class="meishititle"><img src="${ctxPath}/resource/images/sina.jpg" width="34" height="22"/>微博分享</div>
<div class="foursina">
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=100&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=3934652674&verifier=7a166e7b&dpc=1"></iframe>
</div>
<div class="meishititle"><img src="${ctxPath}/resource/images/wenxin.jpg" width="34" height="22"/>微信二维码
</div>
<div class="VX">

    <p>微信号：yn13580</p>

    <p>微博地址：<a href="http://weibo.com/u/3934652674">http://weibo.com/u/3934652674</a></p>

    <p>公司地址：昆明市盘龙区世博园2号门</p>
</div>
</div>