<!--# layout("/view/include/layout.html") { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="orderCrumbs orderStep1"></div>
    <div class="blank"></div>
    <div class="orderMain fl">
        <h6>请填写订单信息</h6>

        <div class="orderInfos">
            <dl class="clearfix">
                <dt>项目</dt>
                <dt>出游日期</dt>
                <dt>数量</dt>
                <dt>总价</dt>
            </dl>
            <dl class="clearfix">
                <dd><img src="${ctxPath}/rest/image/${order.goodsObject.master!}"/>

                    <h3 style="overflow: hidden;height: 35px;">${order.goodsObject.name}</h3>
                </dd>
                <dd><span class="title">出发时间：</span>
                    <input type="text" id="dateBegin" class="dateInput" value="${order.beginDate!'点击选择日历'}">
                </dd>
                <dd>
                    <span class="numberCos">
                        <i>${order.priceSetObject.title} 单价:</i><i class="price dj">￥<span>${order.priceSetObject.price!0 / 100}</span>元</i>
                        <br>
                        <i style="line-height: 32px;margin-right: 15px;">数量:</i><span class="reduce">-</span><input type="text" class="number" value="${order.number}"><span class="plus">+</span>
                    </span>
                </dd>
                <dd>
                    <span class="priceTotal">总计：<i> ￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}</span>元</i></span>
                </dd>
            </dl>
        </div>
        <div class="departure">
            <h6>旅客信息<a href="#" class="add-people" style="float: right">增加旅客信息</a></h6>
            <dl class="clearfix">
                <dd><select>
                    <!--# if (order.priceSetObject.title!'' == '儿童') { -->
                    <option>儿童</option>
                    <!--# } else if (order.priceSetObject.title!'' == '成人') { -->
                    <option>成人</option>
                    <!--# } else { -->
                    <option>成人</option>
                    <option>儿童</option>
                    <!--# } -->
                </select></dd>
                <dd><i>*</i>姓名：</dd>
                <dd><input type="text" class="departureName"></dd>
                <dd><i>*</i>证件号码：</dd>
                <dd><select>
                    <option>身份证</option>
                </select></dd>
                <dd><input type="text" class="departureCardId"></dd>
            </dl>
        </div>
        <div class="contactsInfos">
            <h6>联系人信息</h6>
            <ul class="clearfix">
                <li><span><i>*</i>联系人姓名</span>
                    <input type="text" class="addressTxt" id="contactName">
                </li>
                <li><span><i>*</i>手机号码</span>
                    <input type="text" class="addressTxt" id="contactPhone">
                </li>
                <li><span><i>*</i>订单留言</span>
                    <textarea class="contactsFeedback" id="message"></textarea>
                </li>
                <li class="intro">我们将通过此号码与您联系，请务必正确填写，确保能让您顺利的享受服务。您也可以使用此手机号码作为账户登录假日阳光查看、管理订单。</li>
            </ul>
        </div>
        <div class="orderMethod clearfix">
            <h6>预定方式</h6>
            <ul class="methodWrap fl">
                <!--# for(payMethod in order.goodsObject.payMethod![]) { -->
                <!--# if(payMethod == 1) { -->
                <li>
                    <input type="radio" name="payment" value="1"> 普通预定
                </li>
                <!--# } -->
                <!--# if(payMethod == 2) { -->
                <li>
                    <input type="radio" name="payment" value="2"> 定金预定<i class="point5"></i>
                </li>
                <!--# } -->
                <!--# if(payMethod == 4) { -->
                <li>
                    <input type="radio" name="payment" value="4"> 支付全款<i class="point7"></i>
                </li>
                <!--# } -->
                <!--# } -->
            </ul>
            <ul class="fl">
                <!--# for(payMethod in order.goodsObject.payMethod![]) { -->
                <!--# if(payMethod == 1) { -->
                <li data-method="1">(不交纳定金，出行前3天内我们将电话与您确认能否出行，若不能出行，本站概不负责)</li>
                <!--# } -->
                <!--# if(payMethod == 2) { -->
                <li data-method="2">(支付金额20%定金,我们为您预留行程，保证铁定出游)<br>
                    即日起选择定金预定，立返全款的${preAmountDiscount.value!0 * 100}%现金
                </li>
                <!--# } -->
                <!--# if(payMethod == 4) { -->
                <li data-method="4">(支付全部费用，我们为您预留行程，保证铁定出游)<br>
                    即日起选择定金预定，立返全款的${allAmountDiscount.value!0 * 100}%现金
                </li>
                <!--# } -->
                <!--# } -->
            </ul>
        </div>
        <div class="orderVerifyInfo">
            <div class="orderVerifyInfoTxt" style="text-align:left; padding-left:10px;"></div>
            <div class="orderVerifyInfoForm"><i>
                <input type="checkbox" checked>
            </i><i>我已阅读并接受<a href="javascript:void(0)" id="protocolBtn">合同条款/补充条款及保险条款</a></i><br>
                <input type="button" class="btnSubmit" value="确认支付">
            </div>
        </div>
    </div>
    <div class="orderSider fr">
        <h3>支付信息</h3>
        <ul>
            <img src="${ctxPath}/rest/image/${order.goodsObject.master!}"/>
            <li>旅游团费</li>
            <li class="orderHotelItem"><i class="price zj">￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}</span>元</i><span class="sl">${order.number!0}</span>${order.priceSetObject.title!}x￥<span class="dj">${order.priceSetObject.price!0 / 100}</span>
            </li>
            <li class="orderHotelItem dj"></li>
            <li class="totalTxt">总价：</li>
            <li class="total">￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}</span>元</li>
            <li class="totalLine"></li>
        </ul>
    </div>
</div>
<!--# include('/view/include/xy.html') {} -->
<!--# } -->
<!--js pages load-->
<script src="${ctxPath}/resource/js/plugin/slide.js"></script>
<script src="${ctxPath}/resource/js/jLamCatCustom.js"></script>
<script src="${ctxPath}/resource/js/juimin.js"></script>
<script src="${ctxPath}/resource/js/jquery.ui.datepicker-zh-CN.js"></script>
<script src="${ctxPath}/resource/js/icheck.min.js"></script>
<!--js pages part-->
<script>
    $(function () {
        $(".orderInfos>dl").each(function () {
            $(this).children().each(function (i) {
                $(this).addClass("itemT" + (i + 1))
            });
        });
        $(".discountTerm>dl").each(function () {
            $(this).children().each(function (i) {
                $(this).addClass("item" + (i + 1))
            });
        });
        $("#dateBegin").datepicker({
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateEnd").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#dateEnd").datepicker({
            defaultDate: "+3d",
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateBegin").datepicker("option", "maxDate", selectedDate);
            }
        });
        $(".btnNoUsed").each(function () {
            $(this).toggle(function () {
                $(this).addClass("btnUsed");
            }, function () {
                $(this).removeClass("btnUsed")
            });
        });
        $(".methodWrap,.orderVerifyInfoForm").find("input").iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        $("input.phoneIntroInput").iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        var protocolBtn = $("#protocolBtn"),
                protocolModal = $("#protocolModal");
        $(protocolModal).dialog({
            resizable: false,
            autoOpen: false,
            title: "合同条款/补充条款及保险条款",
            height: 580,
            width: 680,
            modal: true,
            position: ["center", "center"]
        });
        $(protocolBtn).click(function () {
            $(protocolModal).dialog("open");
        });
        $("#photoNumber").click(function () {
            $("#phoneIntro").show();
        });
        $(".leftAreaCodeBtn").click(function () {
            $(".rightArea").show()
        });

    });
</script>

<script type="text/template" id="info-tpl">
    <dl class="clearfix">
        <dd><select name="type">
            <!--# if (order.priceSetObject.title!'' == '儿童') { -->
            <option>儿童</option>
            <!--# } else if (order.priceSetObject.title!'' == '成人') { -->
            <option>成人</option>
            <!--# } else { -->
            <option>成人</option>
            <option>儿童</option>
            <!--# } -->
        </select></dd>
        <dd><i>*</i>姓名：</dd>
        <dd><input type="text" class="departureName"></dd>
        <dd><i>*</i>证件号码：</dd>
        <dd><select>
            <option>身份证</option>
        </select></dd>
        <dd><input type="text" class="departureCardId"></dd>
        <dd><a href="#" class="removeDeparture">删除</a></dd>
    </dl>
</script>
<script type="text/plain" id="priceSet">${order.priceSet}</script>
<script>
    $(function () {
        var priceSet = JSON.parse($('#priceSet').html());
        var discount = +'${order.GoodsObject.discount!0}';
        var price = ((priceSet.price - discount) < 0 ? priceSet.price : (priceSet.price - discount)) / 100;
        var priceList = priceSet.priceList;
        var maxNumber = priceSet.number || 0;
        var curPayMethod = 0;
        var allDiscount = +'${allAmountDiscount.value!0}';
        var preDiscount = +'${preAmountDiscount.value!0}';

        var getPrice = function () {
            var p = 0;
            var begin = new XDate($('#dateBegin').val() || '');
            if (begin.toString() == 'Invalid Date' || isNaN(begin)) {
                begin = new XDate().clearTime();
            }
            var end = new XDate($('#dateEnd') && $('#dateEnd').val() || '');
            if (end.toString() == 'Invalid Date' || isNaN(end)) {
                end = begin;
            }
            if (+'${order.goodsObject.priceType}' == 1) {
                p = price * (begin.diffDays(end) + 1);
            } else {
                for (var i = 0, l = begin.diffDays(end) + 1; i < l; i++) {
                    p = p + (priceList[begin.clone().addDays(i).toString('yyyy-MM-dd')] || 0) / 100;
                }
            }
            return p;
        };

        var getTotal = function () {
            if (+$('.number').val() < 1) {
                $('.number').val(1);
            }
            return getPrice() * +$('.number').val();
        };

        $('.plus').click(function () {
            var input = $('input.number');
            var value = +input.val();
            if (value < maxNumber || maxNumber == 0) {
                input.val(value + 1);
                countPrice();
            }
        });
        $('.reduce').click(function () {
            var input = $('input.number');
            var value = +input.val();
            input.val(value - 1 < 1 ? 1 : (value - 1));
            countPrice();
        });

        var countPrice = function () {
            $('.zj span').text(getTotal());
            $('span.sl').text($('input.number').val());
            $('.total span').text(getTotal());
            $('.priceTotal span').text(getTotal());
            if (curPayMethod == 1) {
                $('.orderVerifyInfoTxt').html('你选择普通预定方式:请您支付 <span>0</span> 元');
                $('.orderHotelItem.dj').html('');
                $('.real').html('');
                $('.total span').text(getTotal());
                $('.priceTotal span').text(getTotal());
                $('.totalLine').html('出行支付<span>' + getTotal() + '元</span>');
            }
            if (curPayMethod == 2) {
                $('.orderVerifyInfoTxt').html('你选择定金预定方式:可减免 <span>' + getTotal() + 'X' + Math.round(preDiscount * 100) + '%=' + Math.round(getTotal() * preDiscount) + '</span> 元，优惠后总价为: <span>' + getTotal() + '-' + Math.round(getTotal() * preDiscount) + '=' + (getTotal() - Math.round(getTotal() * preDiscount)) + '</span> 元<br>' +
                        '请您支付 <span>' + (getTotal() * (1 - preDiscount)) + 'x20%=' + Math.round(getTotal() * (1 - preDiscount) * 0.2) + '</span> 元定金，出行再支付剩余 <span>' + (getTotal() - Math.round(getTotal() * preDiscount) - Math.round(getTotal() * (1 - preDiscount) * 0.2)) + '</span> 元');
                $('.orderHotelItem.dj').html('<i class="price">-￥' + Math.round(getTotal() * preDiscount) + '元</i>定金预定优惠');
                $('.totalLine').html('定金=' + Math.round(getTotal() * (1 - preDiscount)) + 'x20%=<span>' + Math.round(getTotal() * (1 - preDiscount) * 0.2) + '元</span><br>出行支付<span>' + (getTotal() - Math.round(getTotal() * preDiscount) - Math.round(getTotal() * (1 - preDiscount) * 0.2)) + '元</span>');
                $('.total span').text(getTotal() - Math.round(getTotal() * preDiscount));
                $('.priceTotal span').text(getTotal());
            }
            if (curPayMethod == 4) {
                $('.orderVerifyInfoTxt').html('你选择支付全款方式:可减免 <span>' + getTotal() + 'X' + Math.round(allDiscount * 100) + '%=' + Math.round(getTotal() * allDiscount) + '</span> 元，优惠后总价为: <span>' + getTotal() + '-' + Math.round(getTotal() * allDiscount) + '=' + (getTotal() - Math.round(getTotal() * allDiscount)) + '</span> 元<br>' +
                        '请您支付 <span>' + (getTotal() - Math.round(getTotal() * allDiscount)) + '</span> 元');
                $('.orderHotelItem.dj').html('');
                $('.totalLine').html('支付=<span>' + (getTotal() - Math.round(getTotal() * allDiscount)) + '元</span><br>出行支付<span>0元</span>');
                $('.total span').text(getTotal() - Math.round(getTotal() * allDiscount));
                $('.priceTotal span').text(getTotal());
            }
        };

        $('[name="payment"]').on('ifChecked', function () {
            curPayMethod = +$(this).val();
            countPrice();
        });
        $('[name="payment"]:last').closest('li').addClass('last');
        $('[data-method]:first').addClass('first');
        $('[data-method]:last').addClass('last');

        $('.add-people').click(function (e) {
            e.preventDefault();
            $('.departure').append($($('#info-tpl').html()));
            $('.departure').children('dl:last').find('a').click(function (e) {
                e.preventDefault();
                $(this).closest('dl').remove();
            });
        });

        $('.btnSubmit').click(function () {
            var des = 0;
            $('.departure').find('dl').each(function () {
                if ($.trim($(this).find('.departureName').val()) && $.trim($(this).find('.departureCardId').val())) {
                    des++;
                }
            });

            if (des == 0) {
                alert('请填写旅客信息');
                return;
            }

            if (curPayMethod == 0) {
                alert('请选择支付方式');
                return;
            }

            if (!$.trim($('#contactName').val())) {
                alert('请填写联系人姓名');
                return;
            }
            if (!$.trim($('#contactPhone').val()) || $.trim($('#contactPhone').val()).length != 11) {
                alert('请填写正确的联系人电话');
                return;
            }

            var data = {
                orderID: '${order.id}',
                number: +$('.number').val(),
                traveler: (function () {
                    var ts = [];
                    $('.departure').find('dl').each(function () {
                        var t = {};
                        t.type = $(this).find('[name="type"]').val();
                        t.name = $.trim($(this).find('.departureName').val());
                        t.code = $.trim($(this).find('.departureCardId').val());
                        if (t.name) {
                            ts.push(t);
                        }
                    });
                    return JSON.stringify(ts);
                })(),
                contactName: $('#contactName').val(),
                contactPhone: $('#contactPhone').val(),
                message: $('#message').val(),
                payMethod: curPayMethod
            };

            $.post('${ctxPath}/rest/order/update', data, function (res) {
                if (res.success) {
                    location.href = '${ctxPath}/pay/${order.id}'
                }
            });
        });

        $('.zj span, .total span').text(getTotal());
        $('.dj span, span.dj').text(getPrice());
        $('.priceTotal span').text(getTotal());
    });
</script>
</body>
</html>