<!--# layout("/view/include/layout.html") { -->
<div id="main" class="clearfix">
    <div class="blank"></div>
    <div class="orderCrumbs orderStep1"></div>
    <div class="blank"></div>
    <div class="orderMain fl">
        <h6>请填写订单信息</h6>

        <div class="orderInfos">
            <dl class="clearfix">
                <dt>项目</dt>
                <dt>出游日期</dt>
                <dt>数量</dt>
                <dt>总价</dt>
            </dl>
            <dl class="clearfix">
                <dd><img src="${ctxPath}/rest/image/${order.goodsObject.master!}"/>

                    <h3 style="overflow: hidden;height: 35px;">${order.goodsObject.name}</h3>
                </dd>
                <dd><span class="title">出发时间：</span>
                    <input type="text" id="dateBegin" class="dateInput" value="${order.beginDate!'点击选择日历'}">
                </dd>
                <dd>
                    <span class="numberCos">
                        <i>${order.priceSetObject.title} 单价:</i><i class="price dj">￥<span>${order.priceSetObject.price!0 / 100}</span>元</i>
                        <br>
                        <i style="line-height: 32px;margin-right: 15px;">数量:</i><span class="reduce">-</span><input type="text" class="number" value="${order.number}"><span class="plus">+</span>
                    </span>
                </dd>
                <dd>
                    <span class="priceTotal">总计：<i> ￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}<span>元</i></span>
                </dd>
            </dl>
        </div>
        <div class="departure">
            <h6>旅客信息<a href="#" class="add-people" style="float: right">增加旅客信息</a></h6>
            <dl class="clearfix">
                <dd><select>
                    <option>成人</option>
                    <option>儿童</option>
                </select></dd>
                <dd><i>*</i>姓名：</dd>
                <dd><input type="text" class="departureName"></dd>
                <dd><i>*</i>证件号码：</dd>
                <dd><select>
                    <option>身份证</option>
                </select></dd>
                <dd><input type="text" class="departureCardId"></dd>
            </dl>
        </div>
        <div class="contactsInfos">
            <h6>联系人信息</h6>
            <ul class="clearfix">
                <li><span><i>*</i>联系人姓名</span>
                    <input type="text" class="addressTxt" id="contactName">
                </li>
                <li><span><i>*</i>手机号码</span>
                    <input type="text" class="addressTxt" id="contactPhone">
                </li>
                <li><span><i>*</i>订单留言</span>
                    <textarea class="contactsFeedback" id="message"></textarea>
                </li>
                <li class="intro">我们将通过此号码与您联系，请务必正确填写，确保能让您顺利的享受服务。您也可以使用此手机号码作为账户登录假日阳光查看、管理订单。</li>
            </ul>
        </div>
        <div class="orderMethod clearfix">
            <h6>预定方式</h6>
            <ul class="methodWrap fl">
                <!--# for(payMethod in order.goodsObject.payMethod![]) { -->
                <!--# if(payMethod == 1) { -->
                <li>
                    <input type="radio" name="payment" value="1"> 普通预定
                </li>
                <!--# } -->
                <!--# if(payMethod == 2) { -->
                <li>
                    <input type="radio" name="payment" value="2"> 定金预定<i class="point5"></i>
                </li>
                <!--# } -->
                <!--# if(payMethod == 4) { -->
                <li>
                    <input type="radio" name="payment" value="4"> 支付全款<i class="point7"></i>
                </li>
                <!--# } -->
                <!--# } -->
            </ul>
            <ul class="fl">
                <!--# for(payMethod in order.goodsObject.payMethod![]) { -->
                <!--# if(payMethod == 1) { -->
                <li data-method="1">(不交纳定金，出行前3天内我们将电话与您确认能否出行，若不能出行，本站概不负责)</li>
                <!--# } -->
                <!--# if(payMethod == 2) { -->
                <li data-method="2">(支付金额20%定金,我们为您预留行程，保证铁定出游)<br>
                    即日起选择定金预定，立返全款的${preAmountDiscount.value!0 * 100}%现金
                </li>
                <!--# } -->
                <!--# if(payMethod == 4) { -->
                <li data-method="4">(支付全部费用，我们为您预留行程，保证铁定出游)<br>
                    即日起选择定金预定，立返全款的${allAmountDiscount.value!0 * 100}%现金
                </li>
                <!--# } -->
                <!--# } -->
            </ul>
        </div>
        <div class="orderVerifyInfo">
            <div class="orderVerifyInfoTxt" style="text-align:left; padding-left:10px;"></div>
            <div class="orderVerifyInfoForm"><i>
                <input type="checkbox" checked>
            </i><i>我已阅读并接受<a href="javascript:void(0)" id="protocolBtn">合同条款/补充条款及保险条款</a></i><br>
                <input type="button" class="btnSubmit" value="确认支付">
            </div>
        </div>
    </div>
    <div class="orderSider fr">
        <h3>支付信息</h3>
        <ul>
            <img src="${ctxPath}/rest/image/${order.goodsObject.master!}"/>
            <li>旅游团费</li>
            <li class="orderHotelItem"><i class="price zj">￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}</span>元</i><span class="sl">${order.number!0}</span>${order.priceSetObject.title!}x￥<span class="dj">${order.priceSetObject.price!0 / 100}</span>
            </li>
            <li class="orderHotelItem dj"></li>
            <li class="totalTxt">总价：</li>
            <li class="total">￥<span>${(order.priceSetObject.price!0 / 100) * order.number!0}</span>元</li>
            <li class="totalLine"></li>
        </ul>
    </div>
</div>

<div id="protocolModal">
    <h4>一、总则</h4>
    1.1 保宝网的所有权和运营权归深圳市永兴元科技有限公司所有。 <br>
    1.2 用户在注册之前，应当仔细阅读本协议，并同意遵守本协议后方可成为注册用户。一旦注册成功，则用户与保宝网之间自动形成协议关系，用户应当受本协议的约束。用户在使用特殊的服务或产品时，应当同意接受相关协议后方能使用。 <br>
    1.3 本协议则可由保宝网随时更新，用户应当及时关注并同意本站不承担通知义务。本站的通知、公告、声明或其它类似内容是本协议的一部分。
    <h4>二、服务内容</h4>
    2.1 保宝网的具体内容由本站根据实际情况提供。 <br>
    2.2 本站仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机、及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。
    <h4>三、用户帐号</h4>
    3.1 经本站注册系统完成注册程序并通过身份认证的用户即成为正式用户，可以获得本站规定用户所应享有的一切权限；未经认证仅享有本站规定的部分会员权限。保宝网有权对会员的权限设计进行变更。 <br>
    3.2 用户只能按照注册要求使用真实姓名，及身份证号注册。用户有义务保证密码和帐号的安全，用户利用该密码和帐号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，本站不承担任何责任。如用户发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要，请通知本站。因黑客行为或用户的保管疏忽导致帐号非法使用，本站不承担任何责任。
    <h4>四、使用规则</h4>
    4.1 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。 <br>
    4.2 用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本站任何页面发布、转载、传送含有下列内容之一的信息，否则本站有权自行处理并不通知用户：<br>
    (1)违反宪法确定的基本原则的； <br>
    (2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的； <br>
    (3)损害国家荣誉和利益的； <br>
    (4)煽动民族仇恨、民族歧视，破坏民族团结的； <br>
    (5)破坏国家宗教政策，宣扬邪教和封建迷信的； <br>
    (6)散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
    (7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的； <br>
    (8)侮辱或者诽谤他人，侵害他人合法权益的； <br>
    (9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的； <br>
    (10)以非法民间组织名义活动的；<br>
    (11)含有法律、行政法规禁止的其他内容的。4.3 用户承诺对其发表或者上传于本站的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本站被第三人索赔的，用户应全额补偿本站一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)； <br>
    4.4 当第三方认为用户发表或者上传于本站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本站发送权利通知书时，用户同意本站可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本站将不会自动恢复上述删除的信息；(1)不得为任何非法目的而使用网络服务系统； <br>
    (2)遵守所有与网络服务有关的网络协议、规定和程序； (3)不得利用本站进行任何可能对互联网的正常运转造成不利影响的行为； <br>
    (4)不得利用本站进行任何不利于本站的行为。4.5 如用户在使用网络服务时违反上述任何规定，本站有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。
    <h4>五、隐私保护</h4>
    5.1 本站不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在本站的非公开内容，但下列情况除外：(1)事先获得用户的明确授权； <br>
    (2)根据有关的法律法规要求；<br>
    (3)按照相关政府主管部门的要求；<br>
    (4)为维护社会公众的利益。5.2 本站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本站同等的保护用户隐私的责任，则本站有权将用户的注册资料等提供给该第三方。<br>
    5.3 在不透露单个用户隐私资料的前提下，本站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
    <h4>六、版权声明</h4>
    6.1 本站的文字、图片、音频、视频等版权均归永兴元科技有限公司享有或与作者共同享有，未经本站许可，不得任意转载。 <br>
    6.2 本站特有的标识、版面设计、编排方式等版权均属永兴元科技有限公司享有，未经本站许可，不得任意复制或转载。 <br>
    6.3 使用本站的任何内容均应注明&ldquo;来源于保宝网&rdquo;及署上作者姓名，按法律规定需要支付稿酬的，应当通知本站及作者及支付稿酬，并独立承担一切法律责任。<br>
    6.4 本站享有所有作品用于其它用途的优先权，包括但不限于网站、电子杂志、平面出版等，但在使用前会通知作者，并按同行业的标准支付稿酬。<br>
    6.5 本站所有内容仅代表作者自己的立场和观点，与本站无关，由作者本人承担一切法律责任。 <br>
    6.6 恶意转载本站内容的，本站保留将其诉诸法律的权利。
    <h4>七、责任声明</h4>
    7.1 用户明确同意其使用本站网络服务所存在的风险及一切后果将完全由用户本人承担，保宝网对此不承担任何责任。 <br>
    7.2 本站无法保证网络服务一定能满足用户的要求，也不保证网络服务的及时性、安全性、准确性。 <br>
    7.3 本站不保证为方便用户而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本站实际控制的任何网页上的内容，本站不承担任何责任。<br>
    7.4 对于因不可抗力或本站不能控制的原因造成的网络服务中断或其它缺陷，本站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。<br>
    7.5 对于站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本站无需承担任何责任：(1)本站向用户免费提供的各项网络服务； <br>
    (2)本站向用户赠送的任何产品或者服务。7.6 本站有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本站对用户和任何第三人均无需承担任何责任。
    <h4>八、附则</h4>
    8.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。 <br>
    8.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。<br>
    8.3 本协议解释权及修订权归深圳永兴元科技有限公司所有。
</div>
<!--# } -->
<!--js pages load-->
<script src="${ctxPath}/resource/js/plugin/slide.js"></script>
<script src="${ctxPath}/resource/js/jLamCatCustom.js"></script>
<script src="${ctxPath}/resource/js/juimin.js"></script>
<script src="${ctxPath}/resource/js/jquery.ui.datepicker-zh-CN.js"></script>
<script src="${ctxPath}/resource/js/icheck.min.js"></script>
<!--js pages part-->
<script>
    $(function () {
        $(".orderInfos>dl").each(function () {
            $(this).children().each(function (i) {
                $(this).addClass("itemT" + (i + 1))
            });
        });
        $(".discountTerm>dl").each(function () {
            $(this).children().each(function (i) {
                $(this).addClass("item" + (i + 1))
            });
        });
        $("#dateBegin").datepicker({
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateEnd").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#dateEnd").datepicker({
            defaultDate: "+3d",
            changeMonth: true,
            onClose: function (selectedDate) {
                $("#dateBegin").datepicker("option", "maxDate", selectedDate);
            }
        });
        $(".btnNoUsed").each(function () {
            $(this).toggle(function () {
                $(this).addClass("btnUsed");
            }, function () {
                $(this).removeClass("btnUsed")
            });
        });
        $(".methodWrap,.orderVerifyInfoForm").find("input").iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        $("input.phoneIntroInput").iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        var protocolBtn = $("#protocolBtn"),
                protocolModal = $("#protocolModal");
        $(protocolModal).dialog({
            resizable: false,
            autoOpen: false,
            title: "合同条款/补充条款及保险条款",
            height: 580,
            width: 680,
            modal: true,
            position: ["center", "center"]
        });
        $(protocolBtn).click(function () {
            $(protocolModal).dialog("open");
        });
        $("#photoNumber").click(function () {
            $("#phoneIntro").show();
        });
        $(".leftAreaCodeBtn").click(function () {
            $(".rightArea").show()
        });

    });
</script>

<script type="text/template" id="info-tpl">
    <dl class="clearfix">
        <dd><select name="type">
            <option value="成人">成人</option>
            <option value="儿童">儿童</option>
        </select></dd>
        <dd><i>*</i>姓名：</dd>
        <dd><input type="text" class="departureName"></dd>
        <dd><i>*</i>证件号码：</dd>
        <dd><select>
            <option>身份证</option>
        </select></dd>
        <dd><input type="text" class="departureCardId"></dd>
    </dl>
</script>
<script type="text/plain" id="priceSet">${order.priceSet}</script>
<script>
    $(function () {
        var priceSet = JSON.parse($('#priceSet').html());
        var discount = +'${order.GoodsObject.discount!0}';
        var price = ((priceSet.price - discount) < 0 ? priceSet.price : (priceSet.price - discount)) / 100;
        var priceList = priceSet.priceList;
        var maxNumber = priceSet.number || 0;
        var curPayMethod;
        var allDiscount = +'${allAmountDiscount.value!0}';
        var preDiscount = +'${preAmountDiscount.value!0}';

        var getPrice = function () {
            var p = 0;
            var begin = new XDate($('#dateBegin').val() || '');
            if (begin.toString() == 'Invalid Date' || isNaN(begin)) {
                begin = new XDate().clearTime();
            }
            var end = new XDate($('#dateEnd') && $('#dateEnd').val() || '');
            if (end.toString() == 'Invalid Date' || isNaN(end)) {
                end = begin;
            }
            if (+'${order.goodsObject.priceType}' == 1) {
                p = price * (begin.diffDays(end) + 1);
            } else {
                for (var i = 0, l = begin.diffDays(end) + 1; i < l; i++) {
                    p = p + (priceList[begin.clone().addDays(i).toString('yyyy-MM-dd')] || 0) / 100;
                }
            }
            return p;
        };

        var getTotal = function () {
            if (+$('.number').val() < 1) {
                $('.number').val(1);
            }
            return getPrice() * +$('.number').val();
        };

        $('.plus').click(function () {
            var input = $('input.number');
            var value = +input.val();
            if (value < maxNumber || maxNumber == 0) {
                input.val(value + 1);
                countPrice();
            }
        });
        $('.reduce').click(function () {
            var input = $('input.number');
            var value = +input.val();
            input.val(value - 1 < 1 ? 1 : (value - 1));
            countPrice();
        });

        var countPrice = function () {
            $('.zj span').text(getTotal());
            $('span.sl').text($('input.number').val());
            $('.total span').text(getTotal());
            $('.priceTotal span').text(getTotal());
            if (curPayMethod == 1) {
                $('.orderVerifyInfoTxt').html('你选择普通预定方式:请您支付 <span>0</span> 元');
                $('.orderHotelItem.dj').html('');
                $('.real').html('');
                $('.total span').text(getTotal());
                $('.priceTotal span').text(getTotal());
                $('.totalLine').html('出行支付<span>' + getTotal() + '元</span>');
            }
            if (curPayMethod == 2) {
                $('.orderVerifyInfoTxt').html('你选择定金预定方式:可减免 <span>' + getTotal() + 'X' + Math.round(preDiscount * 100) + '%=' + Math.round(getTotal() * preDiscount) + '</span> 元，优惠后总价为: <span>' + getTotal() + '-' + Math.round(getTotal() * preDiscount) + '=' + (getTotal() - Math.round(getTotal() * preDiscount)) + '</span> 元<br>' +
                        '请您支付 <span>' + (getTotal() * (1 - preDiscount)) + 'x20%=' + Math.round(getTotal() * (1 - preDiscount) * 0.2) + '</span> 元定金，出行再支付剩余 <span>' + (getTotal() - Math.round(getTotal() * preDiscount) - Math.round(getTotal() * (1 - preDiscount) * 0.2)) + '</span> 元');
                $('.orderHotelItem.dj').html('<i class="price">-￥' + Math.round(getTotal() * preDiscount) + '元</i>定金预定优惠');
                $('.totalLine').html('定金=' + Math.round(getTotal() * (1 - preDiscount)) + 'x20%=<span>' + Math.round(getTotal() * (1 - preDiscount) * 0.2) + '元</span><br>出行支付<span>' + (getTotal() - Math.round(getTotal() * preDiscount) - Math.round(getTotal() * (1 - preDiscount) * 0.2)) + '元</span>');
                $('.total span').text(getTotal() - Math.round(getTotal() * preDiscount));
                $('.priceTotal span').text(getTotal());
            }
            if (curPayMethod == 4) {
                $('.orderVerifyInfoTxt').html('你选择支付全款方式:可减免 <span>' + getTotal() + 'X' + Math.round(allDiscount * 100) + '%=' + Math.round(getTotal() * allDiscount) + '</span> 元，优惠后总价为: <span>' + getTotal() + '-' + Math.round(getTotal() * allDiscount) + '=' + (getTotal() - Math.round(getTotal() * allDiscount)) + '</span> 元<br>' +
                        '请您支付 <span>' + (getTotal() - Math.round(getTotal() * allDiscount)) + '</span> 元');
                $('.orderHotelItem.dj').html('');
                $('.totalLine').html('支付=<span>' + (getTotal() - Math.round(getTotal() * allDiscount)) + '元</span><br>出行支付<span>0元</span>');
                $('.total span').text(getTotal() - Math.round(getTotal() * allDiscount));
                $('.priceTotal span').text(getTotal());
            }
        };

        $('[name="payment"]').on('ifChecked', function () {
            curPayMethod = +$(this).val();
            countPrice();
        });
        $('[name="payment"]:last').closest('li').addClass('last');
        $('[data-method]:first').addClass('first');
        $('[data-method]:last').addClass('last');

        $('.add-people').click(function (e) {
            e.preventDefault();
            $('.departure').append($($('#info-tpl').html()));
        });

        $('.btnSubmit').click(function () {
            if (curPayMethod == 0) {
                alert('请选择支付方式');
                return;
            }

            if (!$.trim($('#contactName').val())) {
                alert('请填写联系人姓名');
                return;
            }
            if (!$.trim($('#contactPhone').val()) || $.trim($('#contactPhone').val()).length != 11) {
                alert('请填写正确的联系人电话');
                return;
            }

            var data = {
                orderID: '${order.id}',
                number: +$('.number').val(),
                traveler: (function () {
                    var ts = [];
                    $('.departure').find('dl').each(function () {
                        var t = {};
                        t.type = $(this).find('[name="type"]').val();
                        t.name = $(this).find('.departureName').val();
                        t.code = $(this).find('.departureCardId').val();
                        ts.push(t);
                    });
                    return JSON.stringify(ts);
                })(),
                contactName: $('#contactName').val(),
                contactPhone: $('#contactPhone').val(),
                message: $('#message').val(),
                payMethod: curPayMethod
            };

            $.post('${ctxPath}/rest/order/update', data, function (res) {
                if (res.success) {
                    location.href = '${ctxPath}/pay/${order.id}'
                }
            });
        });

        $('.zj span, .total span').text(getTotal());
        $('.dj span, span.dj').text(getPrice());
        $('.priceTotal span').text(getTotal());
    });
</script>
</body>
</html>