.container {
    width: 1000px;
}

.label {
    cursor: pointer;
}

.input-group-addon {
    border-left: none;
    border-right: none;
}

.input-group-addon:first-child {
    border-left: 1px solid #ccc;
}

.input-group-addon:last-child {
    border-right: 1px solid #ccc;
}

.pagination-sm {
    margin: 0;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.empty {
    padding: 15px;
}

.panel.list .panel-body {
    padding: 0;
}

.panel.list .item {
    padding: 15px;
}

.panel.list .item:hover {
    background-color: #eee;
}

.panel.list .item ul {
    margin-bottom: 0;
}

#login {
    padding-top: 120px;
}

#login .alert {
    margin-top: -100px;
    margin-bottom: 48px;
}

#goods .panel.price .item {
    margin-bottom: 5px;
}

.item .children {
    margin-top: 30px;
    line-height: 30px;
}

.item .children > div {
    padding: 0 24px 0 5px;
    position: relative;
}

.item .children > div a {
    position: absolute;
    right: 5px;
    top: 0;
}

.item .children .glyphicon {
    top: 4px;
}

.arg .row, .labels .row {
    line-height: 30px;
}

.arg .row .label, .labels .row .label {
    margin: 0 5px;
}

.label > a {
    color: #fff;
    text-decoration: none;
}