<div class="panel panel-default list">
    <div class="panel-heading">
        <!--# include("/manage/member/list.action.html") {} -->
    </div>
    <div class="panel-body">
        <!--# for(member in memberPage.list![]) { -->
        <div class="item clearfix" data-id="${member.id}">
            <ul class="list-inline pull-left">
                <li><input type="checkbox"></li>
                <li><img data-src="${member.headImgUrl!'holder.js/48x48/sky/text:Head'}" class="img-thumbnail" style="width: 48px; height: 48px"></li>
                <li>${member.username}</li>
            </ul>
            <ul class="list-inline pull-right" style="line-height: 48px">
                <li>
                    <button type="button" class="btn btn-default btn-sm">编辑</button>
                </li>
                <li>
                    <a href="${ctxPath}/manage/order?member=${member.id}" class="btn btn-default btn-sm">查询订单</a>
                </li>
            </ul>
        </div>
        <!--# } elsefor { -->
        <div class="empty"></div>
        <!--# } -->
    </div>
    <div class="panel-footer">
        <!--# include("/manage/member/list.action.html") {} -->
    </div>
</div>