<div id="floatWantPageWrap"><span class="bgTop"></span>

    <div class="floatWantPageWrapMain clearfix">
        <div class="floatWantPageWrapMainItem">
            <div class="floatWantPageWrapMainItemContentWrap">
                <div class="floatWantPageWrapMainItemContent">
                    <ul class="eat-box play-box"></ul>
                </div>
                <div class="floatWantPageWrapMainItemTitle">
                    <h3><a rel="eat" href="javascript:;">想吃</a><i class="en">WANT TO EAT</i></h3>
                    <i class="goodsNum eat-num">0</i></div>
            </div>
        </div>
        <div class="floatWantPageWrapMainItem">
            <div class="floatWantPageWrapMainItemContentWrap">
                <div class="floatWantPageWrapMainItemContent">
                    <ul class="go-box play-box"></ul>
                </div>
                <div class="floatWantPageWrapMainItemTitle">
                    <h3><a rel="go" href="javascript:;">想玩</a><i class="en">WANT TO GO</i></h3>
                    <i class="goodsNum go-num">0</i></div>
            </div>
        </div>
        <div class="floatWantPageWrapMainItem">
            <div class="floatWantPageWrapMainItemContentWrap">
                <div class="floatWantPageWrapMainItemContent">
                    <ul class="buy-box play-box"></ul>
                </div>
                <div class="floatWantPageWrapMainItemTitle">
                    <h3><a rel="buy" href="javascript:;">想买</a><i class="en">WANT TO BUY</i></h3>
                    <i class="goodsNum buy-num">0</i></div>
            </div>
        </div>
        <div class="floatWantPageWrapMainItem">
            <div class="floatWantPageWrapMainItemContentWrap">
                <div class="floatWantPageWrapMainItemContent">
                    <ul class="like-box play-box"></ul>
                </div>
                <div class="floatWantPageWrapMainItemTitle">
                    <h3><a rel="like" href="javascript:;">喜欢</a><i class="en">LIKE</i></h3>
                    <i class="goodsNum like-num">0</i></div>
            </div>
        </div>
        <div class="floatWantPageWrapConfirm">
            <input type="submit" value="马上定制" id="btnWantPageWrapConfirm">
        </div>
    </div>
    <span class="bgBottom"></span></div>