<div id="wantPageOrder">
    <div class="wantPageOrderTitle">
        <h3>我的定制</h3>
    </div>
    <div class="wantPageOrderTabTitle">
        <ul class="clearfix">
            <li class="current">想吃</li>
            <li>想去</li>
            <li>想买</li>
            <li>喜欢</li>
        </ul>
    </div>
    <div id="wantPageOrderTabListAll">
        <div class="wantPageOrderTabDetail">
            <ul class="clearfix eat-order play-order"></ul>
        </div>
        <div class="wantPageOrderTabDetail">
            <ul class="clearfix go-order play-order"></ul>
        </div>
        <div class="wantPageOrderTabDetail">
            <ul class="clearfix buy-order play-order"></ul>
        </div>
        <div class="wantPageOrderTabDetail">
            <ul class="clearfix like-order play-order"></ul>
        </div>
    </div>
    <div class="wantPageOrderTitle">
        <h3>用户信息确认</h3>
    </div>
    <div class="wantPageOrderConfirm">
        <h5><i>温馨提示：</i>我们的旅游顾问将立即为您制定您的梦想旅程，并与您电话沟通。</h5>
        <ul class="clearfix">
            <li>您的称呼<i>(Name)</i><span>
          <input type="text" class="inputWantPageOrderConfirm order-name">
          </span></li>
            <li>联系方式<i>(Tel)</i><span>
          <input type="text" class="inputWantPageOrderConfirm order-tel">
          </span></li>
            <li class="btnSubmitWantPageOrder">
                <input type="submit" value="提交订单" id="btnWantPageWrapConfirmSubmit">
            </li>
        </ul>
    </div>
</div>
<div id="wantPageOrderSuccess"><a href="${ctxPath}">返回首页</a><a href="${ctxPath}${cururl}">继续逛逛</a></div>