<div id="footer" style="width: 1002px; margin: 0 auto">
    <div class="helpCenter clearfix">
        <dl>
            <dt>消费者保障</dt>
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '消费者保障') { -->
            <dd><a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a></dd>
            <!--# } -->
            <!--# } -->
        </dl>
        <dl>
            <dt>支付方式</dt>
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '支付方式') { -->
            <dd><a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a></dd>
            <!--# } -->
            <!--# } -->
        </dl>
        <dl>
            <dt>旅游合同签署</dt>
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '旅游合同签署') { -->
            <dd><a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a></dd>
            <!--# } -->
            <!--# } -->
        </dl>
        <dl>
            <dt>假日风光会员</dt>
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '假日风光会员') { -->
            <dd><a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a></dd>
            <!--# } -->
            <!--# } -->
        </dl>
        <dl>
            <dt>业务合作</dt>
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '业务合作') { -->
            <dd><a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a></dd>
            <!--# } -->
            <!--# } -->
        </dl>
    </div>
    <div class="copyRight">
        <div class="bottomNav">
            <!--# for(helpPage in helps![]) { -->
            <!--# if(helpPage.tag == '关于') { -->
            <a href="${ctxPath}/help/${helpPage.id}">${helpPage.title}</a>
            <!--# } -->
            <!--# } -->
        </div>
        版权所有:云南假日风光国际旅行社有限公司 网站备案号：滇ICP备14001455号-1<br>
        公司地址:云南省昆明市官渡区官南大道新南站3楼 热线电话:${ui400.value!} 0871-67159355
    </div>
    <!--
    <div class="bottomLogoCloud">
        <ul class="clearfix">
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo1.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo2.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo3.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo4.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo5.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo6.jpg"/></a></li>
        </ul>
    </div>
    -->
</div>

<div id="floatServiceWrap">
    <ul class="wx">
        <img src="${ctxPath}/resource/images/erwSml.png"/>
        <h6>假日风光</h6>
    </ul>
    <ul>
        <li class="txt fntYh">工作时间 Time:<span>08:00-24:00</span></li>
        <li class="txt fntYh" style="border-top: 0">客服热线 Tell:<span>${ui400.value!}</span></li>
        <li class="clearfix">
            <a href="javascript:void(0)"
               onclick="javascript:window.open('http://bizapp.qq.com/webc.htm?new=0&sid=4008488099&eid=&o=www.51puer.com&q=7', '_self', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"></a>
        </li>
        <li class="goTop">返回顶部</li>
    </ul>
</div>
</div>
<span id="cnzz_stat_icon_1000296157"></span>
<script src="http://w.cnzz.com/q_stat.php?id=1000296157" type="text/javascript"></script>;
<!--js public load-->
<!--# if (cur!'' != 'food') { -->
<script src="${ctxPath}/resource/js/jquery.js"></script>
<!--# } -->
<script src="${ctxPath}/resource/js/jquery.cookie.js"></script>
<script src="${ctxPath}/resource/js/support/prefixfree.js"></script>
<script src="${ctxPath}/resource/js/jLamCustom.js"></script>
<script src="${ctxPath}/resource/js/autoZoom.js"></script>
<script src="${ctxPath}/resource/js/xdate.js"></script>
<!--# if(cur!'' != 'detail') { -->
<script src="${ctxPath}/resource/js/jquery.lazyload.min.js"></script>
<!--# } -->
<script>
    $(function () {
        //$('a').attr('target', '_blank');
        $('.searchFormInputTxt li').click(function () {
            $('#queryInput').attr('action', '${ctxPath}/' + $(this).data('target'));
        });
        <!--# if(cur!'' != 'detail') { -->
        $("img.lazy").lazyload();
        <!--# } -->
    });
</script>