<div id="footer">
    <div class="helpCenter clearfix">
        <dl>
            <dt>消费者保障</dt>
            <dd><a href="#">100%透明</a></dd>
            <dd><a href="#"> 特殊原因退订保障</a></dd>
            <dd><a href="#"> 自然灾害保障金</a></dd>
            <dd><a href="#"> 旅游预警机制</a></dd>
            <dd><a href="#"> 应急援助体系</a></dd>
            <dd><a href="#"> 一站式旅游保险</a></dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd><a href="#"> 如何预订旅游产品</a></dd>
            <dd><a href="#"> 预定帮助</a></dd>
            <dd><a href="#"> 抵用券使用指南</a></dd>
            <dd><a href="#"> 常见问题</a></dd>
        </dl>
        <dl>
            <dt>旅游合同签署</dt>
            <dd><a href="#">传真/邮递签署合同</a></dd>
            <dd><a href="#"> 公司合同签署</a></dd>
            <dd><a href="#"> 周边交通线路</a></dd>
        </dl>
        <dl>
            <dt>云美旅游会员</dt>
            <dd><a href="#"> 会员注册登录方式</a></dd>
            <dd><a href="#"> 会员特权</a></dd>
            <dd><a href="#"> 云美旅游劵</a></dd>
        </dl>
        <dl>
            <dt>业务合作</dt>
            <dd><a href="#">旅游社入驻</a></dd>
            <dd><a href="#"> 旅游产品合作</a></dd>
            <dd><a href="#"> 广告合作</a></dd>
        </dl>
    </div>
    <div class="copyRight">
        <div class="bottomNav"><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">服务团队</a> | <a href="#">版权声明</a> | <a href="#">资质证书</a> | <a href="#">出行须知</a> | <a href="#">投诉建议</a></div>
        版权所有:昆明云朗文化传播有限公司 网站备案号：滇ICP备11003021号-3<br>
        公司地址:昆明盘龙区世博园2号门 热线电话:0871- 63330333 63210222 63203222 63215688 63125988
    </div>
    <div class="bottomLogoCloud">
        <ul class="clearfix">
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo1.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo2.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo3.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo4.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo5.jpg"/></a></li>
            <li><a href="#" target="_blank"><img src="${ctxPath}/resource/images/btmLogo6.jpg"/></a></li>
        </ul>
    </div>
</div>
<div id="floatServiceWrap">
    <ul class="wx">
        <img src="${ctxPath}/resource/images/erwSml.png"/>
        <h6>醉美云南</h6>
    </ul>
    <ul>
        <li class="txt">7x24小时客户热线<span>400-848-8099</span></li>
        <li class="clearfix"><a href="javascript:void(0)"></a><a href="javascript:void(0)"></a><a href="javascript:void(0)"></a></li>
        <li class="goTop"></li>
    </ul>
</div>
</div>

<!--js public load-->
<script src="${ctxPath}/resource/js/jquery.js"></script>
<script src="${ctxPath}/resource/js/support/prefixfree.js"></script>
<script src="${ctxPath}/resource/js/jLamCustom.js"></script>
<script src="${ctxPath}/resource/js/autoZoom.js"></script>