<div class="uhereUser"><a href="home.html">我的假日风光</a></div>
<div class="userCenterSider fl">
    <h3 class="item1">交易管理</h3>
    <ul>
        <li><a href="${ctxPath}/user/order">我的订单</a></li>
        <li><a href="${ctxPath}/user/collect">我的收藏</a></li>
        <li><a href="${ctxPath}/user/discount">我的优惠券</a></li>
        <li><a href="${ctxPath}/user/points">我的积分</a></li>
    </ul>
    <h3 class="item2">客户服务</h3>
    <ul>
        <li><a href="${ctxPath}/user/services">售后服务</a></li>
        <li><a href="${ctxPath}/user/exchange">退货/换货</a></li>
        <li><a href="${ctxPath}/user/question">我的问答</a></li>
    </ul>
    <h3 class="item3">账户管理</h3>
    <ul>
        <li><a href="${ctxPath}/user/baseInfo">个人信息</a></li>
        <li><a href="${ctxPath}/user/safeSet">安全设置</a></li>
        <li><a href="${ctxPath}/user/message">短消息</a></li>
        <li><a href="${ctxPath}/user/address">地址管理</a></li>
    </ul>
</div>