<div class="panel panel-default list">
    <div class="panel-heading">
        <!--# include("/manage/ad/list.action.html") {} -->
    </div>
    <div class="panel-body">
        <!--# for(ad in adPage.list![]) { -->
        <div class="item clearfix" data-id="${ad.id}" data-name="${ad.name}" data-url="${ad.url}">
            <ul class="list-inline pull-left">
                <li><img src="${ctxPath}/rest/image/${ad.image!}" class="img-thumbnail" style="width: 480px; height: 120px"></li>
                <li>
                    <button class="btn btn-default btn-sm position" data-text="${ad.position}">${ad.position_text}</button>
                </li>
            </ul>
            <ul class="list-inline pull-right" style="line-height: 120px">
                <li>
                    <button type="button" class="btn btn-success btn-sm status">正常</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-sm edit">编辑</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-sm remove">删除</button>
                </li>
            </ul>
        </div>
        <!--# } elsefor { -->
        <div class="empty"></div>
        <!--# } -->
    </div>
    <div class="panel-footer">
        <!--# include("/manage/ad/list.action.html") {} -->
    </div>
</div>