<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">广告</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <label>位置</label>

                    <div class="form-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="name">请选择</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-position="NAV" class="selectAD">导航图</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-position="LB" class="selectAD">首页轮播</a></li>
                                <li><a href="#" data-position="HF1" class="selectAD">首页横幅 1</a></li>
                                <li><a href="#" data-position="HF2" class="selectAD">首页横幅 2</a></li>
                                <li><a href="#" data-position="HF3" class="selectAD">首页横幅 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-position="LINELB" class="selectAD">跟团游轮播</a></li>
                                <li><a href="#" data-position="LINEBLOCK" class="selectAD">跟团游子广告</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-position="CARLB" class="selectAD">自由行轮播</a></li>
                                <li><a href="#" data-position="CARBLOCK" class="selectAD">自由行子广告</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-position="TICKETLB" class="selectAD">门票轮播</a></li>
                                <li><a href="#" data-position="TICKETBLOCK" class="selectAD">门票子广告</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-position="HOTELLB" class="selectAD">酒店轮播</a></li>
                                <li><a href="#" data-position="HOTELBLOCK" class="selectAD">酒店子广告</a></li>
                            </ul>
                            <input type="hidden" name="position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <img src="holder.js/558x140" class="img-thumbnail" width="558" height="140">
                            <input type="file" style="display: none">
                        </label>
                        <input id="image" type="hidden">
                    </div>
                    <div class="form-group">
                        <label>链接地址</label>
                        <input type="text" class="form-control" id="url" placeholder="链接地址">
                        <input type="hidden" id="id">
                    </div>
                    <div class="form-group">
                        <label>广告名称</label>
                        <input type="text" class="form-control" id="name" placeholder="广告名称">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>