<!--# layout("/view/include/layout.html", {cur: 'custom'}) { -->
<div id="main" class="clearfix">
<div id="customTourismS1">
    <div class="bg1con"></div>
</div>
<div id="customTourismS2">
    <div class="bg2con"></div>
</div>
<div id="customTourismS3"></div>
<div id="customTourismS4">
    <div class="bg4con">
        <h2 class="b4t"></h2>
        <i class="b4t one"></i>

        <div class="bg4TopR"></div>
        <div class="dayItem dayItem1">
            <h3 class="day1"><i class="arrow"></i></h3>
            <ul class="txt">
                15:30到昆明，奥迪车免费接机，安排入住昆明滇池温泉花园酒店湖景间，在酒店用晚餐，用罢晚餐后欣赏美丽的滇池风光，度过美丽的夜晚
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/1.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/2.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/3.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">昆明接机</td>
                        <td width="30%">免费</td>
                    </tr>
                    <tr>
                        <td>滇池花园温泉酒店湖景大床1间/晚</td>
                        <td>380元（含双早）</td>
                    </tr>
                    <tr>
                        <td>晚餐</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem2">
            <h3 class="day2"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用罢早餐之后，驱车前往丽江，沿途经过大理，玩崇圣寺三塔，到丽江，在酒店用完晚餐晚餐后，游玩大研古城。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/4.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/5.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">崇圣寺三塔门票</td>
                        <td width="30%">120元/位</td>
                    </tr>
                    <tr>
                        <td>丽江德鑫客栈豪华套间1晚</td>
                        <td>188元（含双早）</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem3">
            <h3 class="day3"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后，前往玉龙雪山约（3、4个小时），下山之后吃午饭，午饭后稍作休息前往拉市海骑马划船。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/6.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/7.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/8.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">玉龙雪山门票</td>
                        <td width="30%">120元/位</td>
                    </tr>
                    <tr>
                        <td>拉市海骑马划船</td>
                        <td>150元/位</td>
                    </tr>
                    <tr>
                        <td>丽江德鑫客栈豪华套间1晚</td>
                        <td>188元（含双早）</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>30元/位*2</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>100元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem4">
            <h3 class="day4"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后，驱车前往香格里拉（约4个小时），用完午餐之后，前往松赞林寺晚饭之后游玩独克宗古城。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/9.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/10.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">松赞寺门票</td>
                        <td width="30%">120元/位</td>
                    </tr>
                    <tr>
                        <td>香格里拉阿若康巴南索达庄园</td>
                        <td>990元/晚（含双早）</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>80元/位*2</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem5">
            <h3 class="day5"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后，前往普达措国家森林公园（需1天）
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/11.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/12.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">普达措国家森林公园</td>
                        <td width="30%">270元/位</td>
                    </tr>
                    <tr>
                        <td>香格里拉阿若康巴南索达庄园</td>
                        <td>990元/晚（含双早）</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>80元/位*2</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem6">
            <h3 class="day6"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后，返回昆明机场
            </ul>
            <ul class="lastSix">
                总花费（15520元）<span>食宿门票费5520元      导游费2500元    车费7500元</span>
            </ul>
        </div>
    </div>
</div>
<div id="customTourismS5"></div>
<div id="customTourismS6">
    <div class="bg6con">
        <h2 class="b6t"></h2>
        <i class="b6t two"></i>

        <div class="bg6TopR"></div>
        <div class="dayItem dayItem1">
            <h3 class="day1"><i class="arrow"></i></h3>
            <ul class="txt">
                15:30到昆明，奥迪车免费接机，安排入住昆明滇池温泉花园酒店湖景间，在酒店用晚餐，用罢晚餐后欣赏美丽的滇池风光，度过美丽的夜晚
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/13.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/14.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/15.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">昆明接机</td>
                        <td width="30%">免费</td>
                    </tr>
                    <tr>
                        <td>滇池花园温泉酒店湖景大床1间/晚</td>
                        <td>380元（含双早）</td>
                    </tr>
                    <tr>
                        <td>晚餐</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem2">
            <h3 class="day2"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00在酒店用完早餐，驱车前往丽江，入住丽江德鑫酒店，游玩丽江古城。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/16.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/17.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/18.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>丽江德鑫客栈豪华套间1晚</td>
                        <td>188元（含双早）</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>80元/位*2</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem3">
            <h3 class="day3"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后，驱车前往泸沽湖，入住泸沽湖岛大酒店。360°大环湖体会摩梭儿女的走婚文化。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/19.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/20.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">丽江泸沽湖银湖岛大酒店（含早餐）</td>
                        <td width="30%">680元（含双早）</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>30元/位</td>
                    </tr>
                    <tr>
                        <td>晚餐（含丽江特色腊排骨）</td>
                        <td>100元/位</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem4">
            <h3 class="day4"><i class="arrow"></i></h3>
            <ul class="txt">
                早起划船登里务比岛，午餐后驱车返回丽江，入住丽江德鑫酒店。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/21.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/22.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">丽江德鑫酒店</td>
                        <td width="30%">188元/位</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>30元/位</td>
                    </tr>
                    <tr>
                        <td>晚餐（摩梭族风味小吃）</td>
                        <td>100元/位</td>
                    </tr>
                    <tr>
                        <td>划猪槽船</td>
                        <td>80元/位</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem5">
            <h3 class="day5"><i class="arrow"></i></h3>
            <ul class="txt">
                8：00用完早餐后，驱车前往雨崩徒步旅行，途经飞来寺，远离喧嚣，拥抱大自然入住云南香格里拉春风十里客栈。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/23.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/24.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">梅里雪山套票（含雨崩飞来寺）</td>
                        <td width="30%">230元/位</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>80元/位</td>
                    </tr>
                    <tr>
                        <td>晚餐</td>
                        <td>80元/位</td>
                    </tr>
                    <tr>
                        <td>香格里拉春风十里客栈（含早）</td>
                        <td>270元/晚</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem6">
            <h3 class="day6"><i class="arrow"></i></h3>
            <ul class="txt">
                9:00用完早餐后徒步前往大本营，神瀑，午餐后返回雨崩，坐车返回丽江。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/25.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/26.jpg"/></li>
            </ul>
            <ul class="grid">
                <table width="695" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">丽江德鑫酒店</td>
                        <td width="30%">188元/位</td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>80元/位</td>
                    </tr>
                    <tr>
                        <td>晚餐</td>
                        <td>80元/位</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="dayItem dayItem7">
            <h3 class="day7"><i class="arrow"></i></h3>
            <ul class="txt">
                9：00用完早餐之后驱车返回昆明，游玩4A景区石林风景区，午餐品尝宜良学成饭店烤鸭。
            </ul>
            <ul class="pic clearfix">
                <li><img src="${ctxPath}/resource/images/customTourism/27.jpg"/></li>
                <li><img src="${ctxPath}/resource/images/customTourism/28.jpg"/></li>
            </ul>
            <ul class="lastSix">
                总花费（9980元）<span>食宿门票费3980元      导游费3000元    车费3000元</span>
            </ul>
        </div>
    </div>
</div>
<div id="customTourismS7"></div>
<div id="customTourismS8">
    <div class="bg8con"></div>
</div>
</div>
<!--# } -->
<!--js pages load-->
<script src="${ctxPath}/resource/js/plugin/slide.js"></script>
<script src="${ctxPath}/resource/js/jLamCatCustom.js"></script>
<!--js pages part-->
<script>
    $(function () {
        var btnClose = $("div.singlePageSiderNavItem").children("h3");
        $(btnClose).each(function (i) {
            $(this).addClass("item" + (i + 1)).click(function () {
                $(this).toggleClass("close").next().toggle();
            });
        });
        var singlePageSiderNavLinks = $("div.singlePageSiderNavItem").find("a");
        $(singlePageSiderNavLinks).each(function (i) {
            var links = $(singlePageSiderNavLinks).eq(i).attr("href"), myURL = document.URL;
            if (myURL.indexOf(links) != -1) {
                $(singlePageSiderNavLinks).eq(i).parent().addClass("current");
            }
        });
    });
</script>
</body>
</html>