<div style="width: 132px; position: fixed; top:71px;">
    <div class="btn-group btn-group-sm btn-group-vertical btn-block" style="margin-bottom: 10px">
        <a href="${ctxPath}/manage/system/manager" class="btn ${decode(module!'', 'manager', 'btn-success', 'btn-default')}" style="border-top-right-radius: 3px">系统管理员</a>
        <a href="${ctxPath}/manage/system/setting" class="btn ${decode(module!'', 'setting', 'btn-success', 'btn-default')}">系统配置</a>
        <a href="${ctxPath}/manage/system/help" class="btn ${decode(module!'', 'help', 'btn-success', 'btn-default')}">帮助文章管理</a>
        <a href="${ctxPath}/manage/system/help/clause" class="btn ${decode(module!'', 'clause', 'btn-success', 'btn-default')}">合同条款</a>
    </div>
</div>